[user]
	name = Daniel Kraus
	email = daniel.kraus@mailbox.org
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.stCommitMsg
[credential]
	helper = osxkeychain
[includeIf "gitdir:~/dev/workspaces/retest/eclipse/"]
	path = ~/.gitconfig_retest
