[user]
	name = Daniel Kraus
	email = daniel.kraus@mailbox.org
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.stCommitMsg
# TODO Set to ${HOME}/dev/retest/.
[includeIf "gitdir:~/Dev/Workspaces/eclipse-retest/"]
	path = ~/.gitconfig_retest
