[user]
	name = Daniel Kraus
	email = daniel.kraus@mailbox.org
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.stCommitMsg
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
# TODO Remove.
[includeIf "gitdir:~/dev/workspaces/retest/"]
	path = ~/.gitconfig_retest
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
