<?xml version="1.0" encoding="UTF-8"?>
<settings
		xmlns="http://maven.apache.org/SETTINGS/1.0.0"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<profiles>
		<profile>
			<id>downloadSourcesAndJavadoc</id>
			<properties>
				<downloadSources>true</downloadSources>
				<downloadJavadocs>true</downloadJavadocs>
			</properties>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>downloadSourcesAndJavadoc</activeProfile>
	</activeProfiles>

	<pluginGroups>
		<!-- https://github.com/ferstl/depgraph-maven-plugin/ -->
		<pluginGroup>com.github.ferstl</pluginGroup>
		<!-- https://github.com/johnpoth/jshell-maven-plugin/ -->
		<pluginGroup>com.github.johnpoth</pluginGroup>
	</pluginGroups>
</settings>
