[user]
	name = Daniel Kraus
	email = daniel.kraus@mailbox.org
	signingkey = D9CF93250109D5A2
[core]
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[fetch]
	prune = true
	pruneTags = true
[pull]
	rebase = true
[rebase]
	autostash = true
[merge]
	ff = false
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
