[user]
	name = Daniel Kraus
	email = daniel.kraus@mailbox.org
	signingkey = ~/.ssh/id_rsa.pub
[core]
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[gpg]
	format = ssh
[fetch]
	prune = true
	pruneTags = true
[pull]
	rebase = true
[rebase]
	autostash = true
	updateRefs = true
[merge]
	ff = false
	conflictStyle = zdiff3
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[stash]
	showPatch = true
[tag]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
