[user]
	name = Daniel Kraus
	email = daniel.kraus@mailbox.org
	signingkey = D9CF93250109D5A2
[core]
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[init]
	defaultBranch = master
[fetch]
	prune = true
	pruneTags = true
[pull]
	rebase = true
[rebase]
	autostash = true
	updateRefs = true
[merge]
	ff = false
	conflictStyle = zdiff3
[commit]
	gpgsign = true
[stash]
	showPatch = true
[tag]
	gpgsign = true
